<h1 class="main-title">Minhas aulas</h1>

<div class="classes-filters">
  <i class="fa-solid fa-filter"></i>

  <p>Filtrar</p>

  <select id="categories-filter">
    <option value="">Um</option>
    <option value="">Dois</option>
    <option value="">Tres</option>
    <option value="">Quatro</option>
    <option value="">Cinco</option>
  </select>

  <input type="date" id="date-filter" />
</div>

<section class="classes-wrapper" *ngFor="let aulasGroup of aulas">
  <div class="class-item" *ngFor="let aula of aulasGroup">
    <figure
      class="class-item-img"
      style="background-image: url({{aula.img}})"
    ></figure>

    <div class="class-item-content">
      <h2>{{aula.name}}</h2>

      <p>
        {{aula.description}}
      </p>

      <div class="class-item-infos-wrapper">
        <div class="class-item-info">
          <i class="fa-solid fa-calendar-days"></i>
          <span>{{aula.date}}</span>
        </div>

        <div class="class-item-info">
          <i class="fa-solid fa-clock"></i>
          <span>{{aula.duration}}</span>
        </div>
      </div>

      <div class="class-item-btn-wrapper">
        <a class="default-btn" [routerLink]="['/aula', aula.id, 'materiais']">Mais informações</a>
      </div>
    </div>
  </div>
</section>
