<h1 class="main-title">Minhas aulas</h1>

<div class="classes-filters">
  <i class="fa-solid fa-filter"></i>

  <p>Filtrar</p>

  <select id="categories-filter">
    <option value="">Um</option>
    <option value="">Dois</option>
    <option value="">Tres</option>
    <option value="">Quatro</option>
    <option value="">Cinco</option>
  </select>

  <input type="date" id="date-filter" />
</div>


<section class="classes-wrapper" *ngFor="let aulas of ctrl.AulaById">
  <div class="class-item" *ngFor="let aula of aulas">
    <figure
      class="class-item-img"
      style="background-image: url('assets/images/aula.jpg')"
    ></figure>

    <div class="class-item-content">
      <h2>{{aula.nome}}</h2>
      <p>
        {{aula.descricao}}
      </p>

      <div class="class-item-infos-wrapper">
        <div class="class-item-info">
          <i class="fa-solid fa-calendar-days"></i>
          <span>{{aula.dataAula}}</span>
        </div>

        <div class="class-item-info">
          <i class="fa-solid fa-clock"></i>
          <span>{{aula.duracaoAula}}</span>
        </div>
      </div>

      <div class="class-item-btn-wrapper">
        <a class="default-btn" [routerLink]="['/aula', aula.id, 'materiais']">Mais informações</a>
      </div>
    </div>
  </div>
</section>
