div.classes-filters {
  width: 100%;
  display: flex;
  align-items: center;
  color: #838488;
  margin: 20px 0;
}

div.classes-filters i {
  font-size: 1.5rem;
}

div.classes-filters p {
  padding: 0 20px;
}

div.classes-filters select,
input {
  background-color: #E5EAF5;
  color: #5E9BF3;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  margin: 0 20px;
  cursor: pointer;
}

div.classes-filters select:focus,
input:focus { outline: none; }

section.classes-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
}

section.classes-wrapper div.class-item {
  width: calc(100% / 3);
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  margin: 10px;
}

section.classes-wrapper div.class-item figure.class-item-img {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

section.classes-wrapper div.class-item div.class-item-content {
  padding: 20px;
}

section.classes-wrapper div.class-item div.class-item-content h2 {
  color: #5E9BF3;
  font-size: 1.2rem;
  padding: 20px 0 10px 0;
}

section.classes-wrapper div.class-item div.class-item-content p {
  text-align: justify;
  color: #838488;
  padding: 10px 0 20px 0;
}

section.classes-wrapper div.class-item div.class-item-content div.class-item-infos-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.classes-wrapper div.class-item div.class-item-content div.class-item-infos-wrapper div.class-item-info i {
  color: #5E9BF3;
  margin-right: 10px;
}

section.classes-wrapper div.class-item div.class-item-content div.class-item-btn-wrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

section.classes-wrapper div.class-item div.class-item-content div.class-item-btn-wrapper a {
  padding: 5px 10px;
  border: none;
  background-color: #5E9BF3;
  color: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}
