<h1 class="main-title">Minhas aulas</h1>

<div class="classes-filters">
  <i class="fa-solid fa-filter"></i>

  <p>Filtrar</p>

  <select id="categories-filter">
    <option value="">Um</option>
    <option value="">Dois</option>
    <option value="">Tres</option>
    <option value="">Quatro</option>
    <option value="">Cinco</option>
  </select>

  <input type="date" id="date-filter" />
</div>

<section class="classes-wrapper">
  <div class="class-item">
    <figure
      class="class-item-img"
      style="background-image: url('/assets/images/aula.jpg')"
    ></figure>

    <div class="class-item-content">
      <h2>Nome aula</h2>

      <p>
        Fugiat voluptate proident id sint id aliquip reprehenderit ea commodo
        amet duis. Aute minim est ut mollit reprehenderit mollit aliquip
        pariatur eiusmod laboris officia aute aliqua. Dolor labore Lorem
        consectetur id minim.
      </p>

      <div class="class-item-infos-wrapper">
        <div class="class-item-info">
          <i class="fa-solid fa-calendar-days"></i>
          <span>11/05/2022</span>
        </div>

        <div class="class-item-info">
          <i class="fa-solid fa-clock"></i>
          <span>00:30:00</span>
        </div>
      </div>

      <div class="class-item-btn-wrapper">
        <button>Mais informações</button>
      </div>
    </div>
  </div>

  <div class="class-item">
    <figure
      class="class-item-img"
      style="background-image: url('/assets/images/aula.jpg')"
    ></figure>

    <div class="class-item-content">
      <h2>Nome aula</h2>

      <p>
        Fugiat voluptate proident id sint id aliquip reprehenderit ea commodo
        amet duis. Aute minim est ut mollit reprehenderit mollit aliquip
        pariatur eiusmod laboris officia aute aliqua. Dolor labore Lorem
        consectetur id minim.
      </p>

      <div class="class-item-infos-wrapper">
        <div class="class-item-info">
          <i class="fa-solid fa-calendar-days"></i>
          <span>11/05/2022</span>
        </div>

        <div class="class-item-info">
          <i class="fa-solid fa-clock"></i>
          <span>00:30:00</span>
        </div>
      </div>

      <div class="class-item-btn-wrapper">
        <button>Mais informações</button>
      </div>
    </div>
  </div>

  <div class="class-item">
    <figure
      class="class-item-img"
      style="background-image: url('/assets/images/aula.jpg')"
    ></figure>

    <div class="class-item-content">
      <h2>Nome aula</h2>

      <p>
        Fugiat voluptate proident id sint id aliquip reprehenderit ea commodo
        amet duis. Aute minim est ut mollit reprehenderit mollit aliquip
        pariatur eiusmod laboris officia aute aliqua. Dolor labore Lorem
        consectetur id minim.
      </p>

      <div class="class-item-infos-wrapper">
        <div class="class-item-info">
          <i class="fa-solid fa-calendar-days"></i>
          <span>11/05/2022</span>
        </div>

        <div class="class-item-info">
          <i class="fa-solid fa-clock"></i>
          <span>00:30:00</span>
        </div>
      </div>

      <div class="class-item-btn-wrapper">
        <button>Mais informações</button>
      </div>
    </div>
  </div>
</section>

<section class="classes-wrapper">
  <div class="class-item">
    <figure
      class="class-item-img"
      style="background-image: url('/assets/images/aula.jpg')"
    ></figure>

    <div class="class-item-content">
      <h2>Nome aula</h2>

      <p>
        Fugiat voluptate proident id sint id aliquip reprehenderit ea commodo
        amet duis. Aute minim est ut mollit reprehenderit mollit aliquip
        pariatur eiusmod laboris officia aute aliqua. Dolor labore Lorem
        consectetur id minim.
      </p>

      <div class="class-item-infos-wrapper">
        <div class="class-item-info">
          <i class="fa-solid fa-calendar-days"></i>
          <span>11/05/2022</span>
        </div>

        <div class="class-item-info">
          <i class="fa-solid fa-clock"></i>
          <span>00:30:00</span>
        </div>
      </div>

      <div class="class-item-btn-wrapper">
        <button>Mais informações</button>
      </div>
    </div>
  </div>

  <div class="class-item">
    <figure
      class="class-item-img"
      style="background-image: url('/assets/images/aula.jpg')"
    ></figure>

    <div class="class-item-content">
      <h2>Nome aula</h2>

      <p>
        Fugiat voluptate proident id sint id aliquip reprehenderit ea commodo
        amet duis. Aute minim est ut mollit reprehenderit mollit aliquip
        pariatur eiusmod laboris officia aute aliqua. Dolor labore Lorem
        consectetur id minim.
      </p>

      <div class="class-item-infos-wrapper">
        <div class="class-item-info">
          <i class="fa-solid fa-calendar-days"></i>
          <span>11/05/2022</span>
        </div>

        <div class="class-item-info">
          <i class="fa-solid fa-clock"></i>
          <span>00:30:00</span>
        </div>
      </div>

      <div class="class-item-btn-wrapper">
        <button>Mais informações</button>
      </div>
    </div>
  </div>

  <div class="class-item">
    <figure
      class="class-item-img"
      style="background-image: url('/assets/images/aula.jpg')"
    ></figure>

    <div class="class-item-content">
      <h2>Nome aula</h2>

      <p>
        Fugiat voluptate proident id sint id aliquip reprehenderit ea commodo
        amet duis. Aute minim est ut mollit reprehenderit mollit aliquip
        pariatur eiusmod laboris officia aute aliqua. Dolor labore Lorem
        consectetur id minim.
      </p>

      <div class="class-item-infos-wrapper">
        <div class="class-item-info">
          <i class="fa-solid fa-calendar-days"></i>
          <span>11/05/2022</span>
        </div>

        <div class="class-item-info">
          <i class="fa-solid fa-clock"></i>
          <span>00:30:00</span>
        </div>
      </div>

      <div class="class-item-btn-wrapper">
        <button>Mais informações</button>
      </div>
    </div>
  </div>
</section>
