.all-ap {
    display: flex;
    flex-direction: column;
}

.appointments-container {
  width: 100%;
  display: flex;
}

.appointment {
    background-color: white;
    display: flex;
    width: 48%;
    margin: 2%;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
}

.box-time {
    display: flex;
    align-items: center;
    width: 20%;
    margin-right: 20px;
}

.icon-time i {
    font-size: 2.5rem;
    color:#5E9BF3;
}

.margin {
    display: flex;
    margin: 2%;
    width: 100%;
}

.info {
  width: 75%;
}

.time {
    color: #838488;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.1rem;
}

.title {
    color: #838488;
    font-size: 1.0rem;
    font-weight: bold;
}

.text {
    font-size: 0.9rem;
    color: #838488;
    font-style: normal;
}

div.delete-btn-wrapper {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.delete {
  background-color: transparent;
  color: #f35e5e;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
}

/* appointments register */

button#create-appointment {
  color: #5E9BF3;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 2%;
}

button#create-appointment:focus { outline: none; }

div.new-appointment-wrapper {
  width: 100%;
  padding: 20px 2%;
  display: flex;
  border-bottom: 1px solid #0161EB;
}

div.new-appointment-wrapper div.new-appointment-inner-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

div.new-appointment-wrapper div.new-appointment-inner-wrapper input {
  background-color: #FFFFFF;
  color: #838488;
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
}

div.new-appointment-wrapper div.new-appointment-inner-wrapper:nth-of-type(1) {
  width: 10%;
}

div.new-appointment-wrapper div.new-appointment-inner-wrapper:nth-of-type(2) {
  width: 30%;
}

div.new-appointment-wrapper div.new-appointment-inner-wrapper:nth-of-type(3) {
  width: 50%;
}

div.new-appointment-wrapper div.new-appointment-inner-wrapper label {
  color: #5E9BF3;
  margin-bottom: 5px;
}

div.new-appointment-wrapper button#save-new-appointment {
  cursor: pointer;
  height: auto;
}
