<h1>Perguntas frequentes:</h1>

<section>
    <div class="pesquisa">
        <input type="text" name="pesquisa-faq" id="pesquisa-faq" placeholder="Qual sua dúvida?">
    </div>
    <div class="perguntasTodas">
      <div class="faqItem" *ngFor="let f of ctrl.faqs">
        <div class="pergunta">
            <div>
                <i class="fa-solid fa-circle-question fa-2x"></i>
                <span>{{f.tituloPergunta}}</span>
            </div>

            <i class="fas fa-chevron-down"></i>
        </div>
        <div class="resposta">
            <p class="p-faq">
              <span>{{f.respostaPergunta}}</span>
            </p>
        </div>
    </div>
    </div>
</section>
