<div class="topo" *ngIf="ctrl.auth.isFuncionario">
    <h1>Perguntas frequentes:</h1>

    <button (click)="show()"><i class="fa-solid fa-circle-plus"></i> Cadastrar</button>
</div>

<div class="topo" *ngIf="!ctrl.auth.isFuncionario">
    <h1>Perguntas frequentes:</h1>
</div>

<section class="form_faq" *ngIf="isVisible">
    <label for="pergunta">Nome pergunta:</label>
    <input type="text" name="pergunta" id="pergunta" [(ngModel)]="pergunta">

    <label for="respostaPergunta">Resposta pergunta:</label>
    <input type="text" name="respostaPergunta" id="respostaPergunta" [(ngModel)]="resposta">

    <button class="btn_confirmar" (click)="this.cadastroFaq()">confirmar</button>
</section>
<hr *ngIf="isVisible">

<section>
    <div class="pesquisa" *ngIf="!isVisible">
        <div class="icon-wrapper">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="fields-wrapper">
          <input type="text" name="pesquisa-faq" id="pesquisa-faq" placeholder="Qual sua dúvida?" #searchItem (change)="this.searchByTitle(searchItem.value)">
        </div>
    </div>
    <div class="perguntasTodas">
        <div class="faqItem static" *ngFor="let f of ctrl.faqs" id='faq-item-{{f.id}}'>
            <div class="inner-wrapper static-wrapper">
                <div class="pergunta">
                    <div>
                        <div *ngIf="!ctrl.auth.isFuncionario"><i class="fa-solid fa-circle-question fa-2x"></i></div>

                        <div *ngIf="ctrl.auth.isFuncionario" class="lixeira"><button class="btn_lixeira" (click)="ctrl.deleteFaq(f.id)"><i
                                    class="fa-solid fa-trash"></i></button></div>
                        <span>{{f.tituloPergunta}}</span>
                    </div>
                    <div class="div-btn-editar" *ngIf="ctrl.auth.isFuncionario">
                        <button class="btn_editar btn-edit" (click)="showEdit(f.id)"><i
                                class="fa-solid fa-pen-to-square"></i>Editar</button>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                    <div *ngIf="!ctrl.auth.isFuncionario">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
                <div class="resposta">
                    <p class="p-faq">
                        <span>{{f.respostaPergunta}}</span>
                    </p>
                </div>
            </div>


            <div class="inner-wrapper edit-wrapper">
                <div class="pergunta">
                    <div>
                        <div *ngIf="!ctrl.auth.isFuncionario"><i class="fa-solid fa-circle-question fa-2x"></i></div>
                        <div class="lixeira" *ngIf="ctrl.auth.isFuncionario"><i class="fa-solid fa-trash"></i></div>
                        <label for="perguntaTitulo">Pergunta: </label>
                        <input type="text" class="edit_input" id="perguntaTitulo" name="perguntaTitulo" #questionTitle value="{{f.tituloPergunta}}">
                    </div>


                    <div class="div-btn-editar" *ngIf="ctrl.auth.isFuncionario">
                        <button class="btn_editar btn-save" (click)="this.ctrl.putFaq({id: f.id, tituloPergunta: questionTitle.value, respostaPergunta: questionAnswer.value})"><i class="fa-solid fa-pen-to-square"></i>Salvar</button>

                        <i class="fas fa-chevron-down"></i>
                    </div>

                    <div *ngIf="!ctrl.auth.isFuncionario">
                        <i class="fas fa-chevron-down"></i>
                    </div>

                </div>

                <div class="resposta">
                    <label for="resposta">Resposta: </label>
                    <input type="text" class="edit_input" id="resposta" name="resposta" #questionAnswer value="{{f.respostaPergunta}}">
                </div>

            </div>
        </div>
    </div>
</section>
