h1{
    color: #5E9BF3;
}

.df{
    display: flex;
}

.topo{
    display: flex;
    justify-content: space-between;
}

.lixeira i {
    padding: 12px;
    color: white;
}

.btn_lixeira {
    background-color: #FF8F8F;
    border-radius: 50%;
    margin-right: 30px;
    border: none;
}

.topo button{
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #5E9BF3;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    width: 160px;
    margin: 10px;
}

.form_faq{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    padding: 25px;
    margin: 20px auto;
}

.form_faq label{
    color: #5E9BF3;
    font-size: 1.2em;
    margin-top: 24px;
}

.form_faq input{
    background-color: #E5EAF4;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.edit_input{
    border: none;
    border-bottom: 1px solid #838488;
    background-color: transparent;
    outline: none;
}

.btn_confirmar{
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #5E9CF3;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 30px;
    width: 160px;
    align-self: end;
}

section{
    width: 90%;
    margin: auto;
}

.pesquisa{
    margin: 20px auto;
    display: flex;
    width: 100%;
    justify-content: center;

}

.pesquisa input{
    background: #E5EAF5;
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 80%;
    font-size: 25px;
}

.perguntasTodas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.faqItem{
    display: flex;
    flex-direction: column;
    margin-top:20px ;
    width: 95%;
}

.pergunta{
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    margin: auto;


}

.pergunta > div{
    display: flex;
    align-items: center;
}

.pergunta > div > span{
    margin-left:10px;
}

.resposta{
    width: 78%;
    background-color: white;
    margin: auto;

}

.p-faq {
    margin: 10px;
}

.fa-circle-question{
   color: #5E9BF3;
}

.btn_editar {
    padding: 10px 20px;
    margin: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #FFE48F;
    color: black;
    border-radius: 10px;
    border: none;
    width: 160px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.div-btn-editar {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: space-between;
}

.inner-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.btn-save, .edit-wrapper {
    display: none;
}
