<h1>Perguntas frequentes:</h1>

<section>
    <div class="pesquisa">
        <input type="text" name="pesquisa-faq" id="pesquisa-faq" placeholder="Qual sua dúvida?">
    </div>
    <div class="perguntasTodas">
        <div class="faqItem">
            <div class="pergunta">
                <div>
                    <i class="fa-solid fa-circle-question fa-2x"></i>
                    <span>Nome pergunta?</span>
                </div>
                
                <i class="fas fa-chevron-down"></i>
            </div>
            <div class="resposta">
                <p class="p-faq">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus sed semper eget cursus proin tellus. Mattis aliquam in accumsan, in gravida pretium volutpat quisque nec. In consectetur consequat vulputate sodales auctor duis. Vel tellus nunc vulputate nam fusce odio.
                </p>
            </div>
        </div>

        <div class="faqItem">
            <div class="pergunta">
                <div>
                    <i class="fa-solid fa-circle-question fa-2x"></i>
                    <span>Nome pergunta?</span>
                </div>
                
                <i class="fas fa-chevron-down"></i>
            </div>
            <div class="resposta">
                <p class="p-faq">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus sed semper eget cursus proin tellus. Mattis aliquam in accumsan, in gravida pretium volutpat quisque nec. In consectetur consequat vulputate sodales auctor duis. Vel tellus nunc vulputate nam fusce odio.
                </p>
            </div>
        </div>
    </div>
</section>