div.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

div.home-container h1 {
  width: 100%;
  color: #5e9bf3;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 40px;
}

div.home-container form.search-for-content {
  align-items:center;
  width: 60%;
}

div.home-container form.search-for-content div.search-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px;
  border-radius: 10px;
  background-color: #E5EAF3;
  color: #838488;
}

div.home-container form.search-for-content div.search-wrapper div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
}

div.home-container form.search-for-content div.search-wrapper div i {
  padding: 0 10px;
  font-size: 1.5rem;
}

div.home-container form.search-for-content div.search-wrapper input {
  padding: 10px;
  width: 95%;
  background-color: transparent;
  border: 0;
  color: #838488;
  font-size: 1rem;
}

div.home-container form.search-for-content div.search-wrapper input:focus {
  outline: none;
}

div.home-container form.search-for-content div.search-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

div.home-container form.search-for-content div.search-btn {
  width: 300px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  background-color: #5D9BF3;
  padding: 5px 15px 5px 5px;
  border-radius: 10px;
}

div.home-container form.search-for-content div.search-btn input[type="submit"] {
  width: 100%;
  border: 0;
  background-color: transparent;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;;
}


/* professors list */

