<div class="home-container" *ngIf="!ctrl.professorsByCategory">
  <h1>O que deseja aprender hoje?</h1>
  <form class="search-for-content" (submit)="ctrl.getProfessorsByCategory(searchContent.value)">
    <div class="search-wrapper">
      <div>
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <input type="text" id="search-content" #searchContent placeholder="Tente algo como: Matemática ou então Biologia...">
    </div>
    <div class="search-btn-wrapper">
      <div class="search-btn">
        <input type="submit" value="Começar a aprender">
        <i class="fa-solid fa-rocket"></i>
      </div>
    </div>
  </form>
</div>

<div class="professors-list-container" *ngIf="ctrl.professorsByCategory">
  <h1 class="main-title">Exibindo professores de: <span>Matemática</span></h1>
</div>
