div.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

div.home-container h1 {
  width: 100%;
  color: #5e9bf3;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 40px;
}

div.home-container form.search-for-content {
  align-items:center;
  width: 60%;
}

div.home-container form.search-for-content div.search-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px;
  border-radius: 10px;
  background-color: #E5EAF3;
  color: #838488;
}

div.home-container form.search-for-content div.search-wrapper div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5%;
}

div.home-container form.search-for-content div.search-wrapper div i {
  padding: 0 10px;
  font-size: 1.5rem;
}

div.home-container form.search-for-content div.search-wrapper input {
  padding: 10px;
  width: 95%;
  background-color: transparent;
  border: 0;
  color: #838488;
  font-size: 1rem;
}

div.home-container form.search-for-content div.search-wrapper input:focus {
  outline: none;
}

div.home-container form.search-for-content div.search-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

div.home-container form.search-for-content div.search-btn {
  width: 300px;
  padding: 5px 15px 5px 5px;
}

div.home-container form.search-for-content div.search-btn:hover input[type="submit"] {
  color: #5e9bf3;
}

div.home-container form.search-for-content div.search-btn input[type="submit"] {
  width: 100%;
  border: 0;
  background-color: transparent;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;;
}


/* professors list */

div.professors-list-container {
  width: 100%;
  height: 100%;
  /* margin-bottom: 20px; */
}

div.professors-list-container h1.main-title span {
  color: #838488;
}

div.professors-list-container div.professors-list-wrapper {
  width:100%;
  height: 100%;
}

div.professors-list-container div.professors-list-wrapper div.professor-item-wrapper {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

div.professors-list-container div.professors-list-wrapper div.professor-item-wrapper figure {
  width: 100%;
  height: 250px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

div.professors-list-container div.professors-list-wrapper div.professor-item-wrapper div.professor-item-content {
  padding: 20px;
}

div.professors-list-container div.professors-list-wrapper div.professor-item-wrapper div.professor-item-content h2 {
  color: #5E9BF3;
  font-size: 1.2rem;
  padding: 10px 0;
}

div.professors-list-container div.professors-list-wrapper div.professor-item-wrapper div.professor-item-content h3 {
  color: #838488;
  font-size: 1rem;
  padding: 10px 0;
}

div.professors-list-container div.professors-list-wrapper div.professor-item-wrapper div.professor-item-content p {
  text-align: justify;
  color: #838488;
  padding: 10px 0 20px 0;
}

div.professors-list-wrapper div.professor-item-wrapper div.professor-item-content div.professor-classification {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

div.professors-list-wrapper div.professor-item-wrapper div.professor-item-content div.professor-classification span {
  color: #838488;
}

div.professors-list-wrapper div.professor-item-wrapper div.professor-item-content div.professor-classification span#stars {
  color: #FFCE31;
  margin-right: 20px;
}

div.professors-list-wrapper div.professor-item-wrapper div.professor-item-content div.professor-tags-chat-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

div.professor-item-wrapper div.professor-item-content div.professor-tags-chat-wrapper div.professor-tags-chat-item {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

div.professor-item-wrapper div.professor-item-content div.professor-tags-chat-wrapper div.professor-tags-chat-item small {
  color: #838488;
}

div.professor-item-wrapper div.professor-item-content div.professor-tags-chat-wrapper div.professor-tags-chat-item {
  display: flex;
  align-items: center;
}

div.professor-item-wrapper div.professor-item-content div.professor-tags-chat-wrapper div.professor-tags-chat-item i {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #7560F8;
}

div.professor-item-wrapper div.professor-item-content div.professor-tags-chat-wrapper div.professor-tags-chat-item a i {
  color: #5E9CF3;
}

div.professor-item-wrapper div.professor-item-content a.free-professor-class {
  text-decoration: none;
  margin: 25px 0 10px 0;
}

div.professor-item-wrapper div.professor-item-content a.free-professor-class i {
  margin-left: 10px;
}
