
  <header class="w100">
    <div class="w50">
      <img src="/assets/images/logomarca.svg" alt="logomarca">
    </div>

    <div class="w50">
      <a id="access-platform" href="#">Acessar plataforma</a>
      <a id="register" href="#">Começar a aprender</a>
    </div>
  </header>

  <main class="w100">
    <div>
      <img src="/assets/images/mobile-login.svg" alt="ilustração login de usuário">
    </div>

    <div class="form">
      <div id="form-register" class="w100" *ngIf="newUser">

        <h1>Efetuar o Cadastro</h1>

            <label for="fullname">Nome completo:</label>
            <input type="text" id="fullname">

            <label for="email">E-mail:</label>
            <input type="email" id="email">

            <label for="username"> Nome de usuário: </label>
            <input type="text" id="username">

            <label for="password">Senha:</label>
            <input type="password" id="password">

            <label for="password-confirmation">Confirmação da senha:</label>
            <input type="password" id="password-confirmation">

        <div class="buttons">
          <button class="form-login-btn" (click)="this.toggleOptions()">Log in</button>
          <button id="form-proceed-btn" (click)="this.login()">Continuar</button>
        </div>

      </div>

      <div id="form-login" class="w100" *ngIf="!newUser">

            <h1>Efetuar o Login</h1>

            <label for="username">Usuário / E-mail</label>
            <input type="text" id="username">

            <label for="username">Senha:</label>
            <input type="password" id="password">

            <div class="buttons">
              <button id="form-register-btn" (click)="this.toggleOptions()">Registrar-me</button>
              <button class="form-login-btn" (click)="this.login()">Log in</button>
            </div>

      </div>
    </div>
  </main>


