
/* defaults */
div.container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* forms: login & register */

header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 10px;
  border-bottom: 0.5px solid #cccccc;
}

header div:first-child img {
  width: 300px;
}

header div:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

header div:last-child a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0 20px;
}

header div:last-child a#access-platform {
  color: #838488;
}

header div:last-child a#register {
  color: #5D9BF3;
  border: 2px solid #5D9BF3;
  border-radius: 10px;
  padding: 5px;
}

main {
  display: flex;
  height: calc(100% - 100px);
}

main div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
}

main div:first-child img {
  width: 100%;
  max-width: 1150px;
  height: 100%;
}

main div.form {
  display: flex;
  justify-content: flex-start;
  width: 35%;
  height: 100%;
  background-color: #F5F9FF;
  padding: 20px;
}

main div.form h1 {
  font-size: 1.3rem;
  width: 100%;
  margin-bottom: 40px;
}

main div.form div#form-login,
main div.form div#form-register {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main div.form div#form-login input,
main div.form div#form-register input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #838488;
  background-color: transparent;
  padding: 15px 10px;
}

main div.form div#form-register select {
  width: 100%;
  border: none;
  border-bottom: 1px solid #838488;
  background-color: transparent;
  padding: 15px 10px;
  cursor: pointer;
}

main div.form div#form-login label,
main div.form div#form-register label {
  width: 100%;
  margin-top: 20px;
  font-size: 0.9rem;
  color:#838488;
}

main div.form div#form-login input:focus,
main div.form div#form-register input:focus,
main div.form div#form-register select { outline: none; }

main div.form div#form-login .buttons,
main div.form div#form-register .buttons {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

main div.form div#form-login .buttons button,
main div.form div#form-register .buttons button {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

main div.form div#form-login .buttons button#form-register-btn,
main div.form div#form-register .buttons button#form-proceed-btn {
  padding: 10px 20px;
}

main div.form div#form-login .buttons button.form-login-btn,
main div.form div#form-register .buttons button.form-login-btn {
  border: none;
  background-color: transparent;
  color: #5D9BF3;
}


/* position settings */
header#top-menu {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  padding: 10px;
  border-bottom: 0.5px solid #cccccc;
  background-color: #FFFFFF;
}

main#content {
  margin-top: 100px;
  height: calc(100% - 100px);
}

main#content aside#left-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  width: 300px;
  height: 100%;
  border-right: 0.5px solid #cccccc;
  background-color: #FFFFFF;
}

main#content section#comps-container {
  width: calc(100% - 300px);
  height: 100%;
  margin-left: 300px;
  overflow-y: scroll;
  padding: 30px;
}

/* header settings - left side */
header#top-menu {
  padding: 0 30px;
}

header#top-menu div:first-child {
  display: flex;
  align-items: center;
}

header#top-menu div:first-child img {
  width: 300px;
  margin: 0 20px;
}

header#top-menu div:first-child i#toggle-menu {
  font-size: 3rem;
  color: #838488;
  margin-right: 20px;
  cursor: pointer;
}

header#top-menu div:first-child div#search-form {
  border-radius: 10px;
  width: 400px;
  background-color: #F5F8FB;
  color: #838488;
  padding: 10px;
}

header#top-menu div:first-child div#search-form label i {
  cursor: pointer;
  margin-right: 10px;
}

header#top-menu div:first-child div#search-form input {
  background-color: transparent;
  border: none;
  width: 90%;
}

header#top-menu div:first-child div#search-form input:focus {
  outline: none;
}

/* header settings - right side */

header#top-menu div:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header#top-menu div:last-child i {
  font-size: 1.5rem;
  color: #838488;
  cursor: pointer;
}

header#top-menu div:last-child i.highlight-item {
  color: #5D9BF2;
}

header#top-menu div:last-child div#settings-menu-container div#toggle-settings-menu img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #cccccc;
}

header#top-menu div:last-child div#settings-menu-container div#toggle-settings-menu i {
  margin: 0;
  margin-left: -10px;
  font-size: 1rem;
}

/* main settings -> left-menu */

main#content {
  background-color: #F5F9FF;
}

main#content aside#left-menu div#user-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #838488;
  height: 30%;
}

main#content aside#left-menu div#user-infos img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 1px solid #cccccc;
  margin: 20px 0 10px 0;
}

main#content aside#left-menu div#user-infos h2 {
  font-size: 1.3rem;
  margin-bottom: 5px;
}

main#content aside#left-menu div#user-infos a {
  color: #838488;
  text-decoration: none;
}

main#content aside#left-menu nav#main-menu {
  height: 35%;
}

main#content aside#left-menu nav#main-menu ul {
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main#content aside#left-menu nav#main-menu ul li {
  padding: 10px 10px 10px 20px;
  width:100%;
}

main#content aside#left-menu nav#main-menu ul li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #838488;
}

main#content aside#left-menu nav#main-menu ul li i {
  padding: 0 15px 0 25px;
}

main#content aside#left-menu div#logout {
  display: flex;
  align-items: flex-end;
  height: 20%;
}

main#content aside#left-menu nav#main-menu ul li.highlight-menu {

  background-color: rgba(93,155,242,0.36);
  border-left: 8px solid #5D9BF2;
  padding-left: 10px;
}

main#content aside#left-menu nav#main-menu ul li.highlight-menu a {
  font-weight: bold;
  color: #5D9BF2;
}

main#content aside#left-menu div#logout {
  padding-left: 50px;
  font-size: 0.8rem;
  color: #838488;
  text-decoration: underline;
}

main#content aside#left-menu div#logout a {
  color: #838488;
}

main#content aside#left-menu div#logout i {
  margin-left: 10px;
}
