.all-ap {
    display: flex;
}

.appointment {
    background-color: white;
    display: flex;
    width: 48%;
    margin: 2%;
    border-radius: 8px;
}

.box-time {
    display: flex;
    align-items: center;
}

.icon-time i {
    font-size: 2.5rem;
    color:#5E9BF3;
}

.margin {
    display: flex;
    margin: 2%;
}

.time {
    color: #838488;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.1rem;
}

.info {
    margin: 0 0 0 2%;
}

.title {
    color: #838488;
    font-size: 1.0rem;
    font-weight: bold;
}

.text {
    font-size: 0.9rem;
    color: #838488;
    font-style: normal;
}