<div class="perguntasTodas">
    <div class="faqItem">
        <div class="pergunta">
            <div>
                <div class="fw700">Tarefa 1: Exercícios de números inteiros</div>
                <div class="fw400">Entregar até: 10/06/2022 às 23h59min</div>
            </div>

            <div>
                <button class="btn-atividades">mais informações <i class="fas fa-chevron-down"></i></button>
            </div>
        </div>
        <div class="resposta">
            <div class="fw700 mg5">Tarefa 1:</div>

            <div class="mg5">
                <p class="mg5">Exercícios de números inteiros.</p>
                <p class="mg5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dui, mi est pharetra dictum congue. A in nunc tempor, nunc, ullamcorper. Sit urna elit massa, euismod. Pharetra pretium ipsum neque amet sit id leo. Interdum eget elit vitae elementum. Vitae nibh ut tincidunt praesent dictum. Suscipit neque, augue ultrices ipsum ac nam lorem tempus eget. Volutpat vel quam volutpat egestas elementum laoreet diam. Cras consectetur enim neque, hendrerit. Cras nibh quam neque faucibus eget etiam. Sed tortor augue felis faucibus risus pretium platea in. Eget vitae massa nisi aliquet neque. Sem facilisi sed euismod justo commodo. Sapien amet eu nunc potenti odio.
                </p>
            </div>

            <div class="mg5">
                <div class="fw700 mg5">Mateiral de apoio:</div>
                <div class="mg5 div-a">
                    <a href="#" class="btn-atividades"><i class="fa-solid fa-book"></i> numeros_inteiros.pdf <i class="fa-solid fa-download"></i></a>
                </div>
            </div>

            <div class="mg5">
                <div class="fw700 mg5">Submeter respostas: (apenas .pdf)</div>
                <div class="mg5 div-a">
                   <input type="file" name="file" id="file" class="btn-atividades">
                </div>
            </div>

            <div>
                <button class="btn-atividades fr">enviar tarefa <i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</div>