<h1>Minha conta:</h1>

<section id="info_base" class="df dc">
    <h2>Informações básicas:</h2>

    <div class="df jcsb">
        <div class="df dc w45">
            <label for="nome">Nome completo:</label>
            <input type="text" name="nome" id="nome">

            <label for="cpf">CPF:</label>
            <input type="number" name="cpf" id="cpf">

            <label for="N-escolaridade">Nível escolaridade:</label>
            <input type="text" name="N-escolaridade" id="N-escolaridade">
        </div>

        <div class="df dc w45">
            <label for="email">E-mail:</label>
            <input type="email" name="email" id="email">

            <label for="celular">Celular:</label>
            <input type="tel" name="celular" id="celular">

            <div class="df jcsb">
                <div class="df dc w45">
                    <label for="sexo">Sexo:</label>
                    <select name="sexo" id="sexo">
                        <option value="0">M</option>
                        <option value="1">H</option>
                    </select>
                </div>
                
                <div class="df dc w45">
                    <label for="dt-nascimento">Data de nascimento:</label>
                    <input type="date" name="dt-nascimento" id="dt-nascimento">
                </div>
            </div>
        </div>
    </div>
    
    <button class="btn_confirmar">confirmar</button>
</section>