/*session 1*/
.df{
    display: flex;
}

.dc{
    flex-direction: column;
}

.jcsb{
    justify-content: space-between;
}

.base{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 25px;
}

.base label{
    color: #5E9BF3;
    font-size: 1em;
    margin-top: 24px;
}

.base input, select{
    background-color: #E5EAF4;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.w45{
    width: 45%;
}

.btn_confirmar{
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #5E9CF3;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 30px;
    width: 160px;
    align-self: end;
}

h1 {
    color: #5E9BF3;
    margin-bottom: 20px;
}

h2 {
    color: #5E9BF3;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: underline;
}

/*session 2*/

.tudo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.tudo section {
  width: calc(100% / 2);
  max-width: 800px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin: 10px;
  padding: 25px;
}

#avatar figure {
    width: 100%;
    height: 300px;
    background-color: #D9D9D9;
    border-radius: 10px;
}

#avatar-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dentro {
    width: calc(100% / 2);
    max-width: 700px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin: 10px;
}

#info p {
    font-weight: 700;
    color: #838488;
}

.obs {
    font-weight: 700;
    color: #838488;
}

#definicao-categorias label {
    color: #5E9BF3;
    font-size: 1em;
}

#definicao-categorias input {
    background-color: #E5EAF4;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 30px;
}

.campo {
    display: flex;
    flex-direction: column;
}

.cat {
    width: 100%;
    height: 260px;  
    border: 1px solid #5E9BF3;
}

.btns {
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.btns button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

.btns button:nth-child(1) {
    background-color: #F35E5E;
}

.btns button:nth-child(2) {
    background-color: #5E9BF3;
}

/*session 3*/
