h1 {
    color: #5E9BF3;
}

.topo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.topo button {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #5E9CF3;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    width: 160px;
    align-self: end;
}

.base{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 25px;
}

.base label{
    color: #5E9BF3;
    font-size: 1em;
    margin-top: 24px;
}

.base input, select{
    background-color: #E5EAF4;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.btn_confirmar{
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #5E9CF3;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
    width: 160px;
    align-self: end;
}

.topo button i {
    margin-right: 5px;
}

.df{
    display: flex;
}

.dc{
    flex-direction: column;
}

.jst{
    justify-content: space-evenly;
}

.width2{
    width: 65%;
}

.width1{
    width: 25%;
}

hr {
    margin-top: 30px;
    background-color: #5E9BF3;
}

.catTodas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.catItem{
    display: flex;
    background-color: white;
    padding: 10px;
    width: 100%;
    font-size: 1.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 30px;
}

.nome{
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: auto;


}

.nome > div{
    display: flex;
    align-items: center;
}

.nome > div > span{
    margin-left:10px;
}

.descricao{
    width: 78%;
    background-color: white;
    display: flex;
    align-items: center;
}

.lixeira i {
    padding: 12px;
    color: white;
}

.btn_lixeira {
    background-color: #FF8F8F;
    border-radius: 50%;
    margin-right: 30px;
    border: none;
}

.btn_editar {
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #FFE48F;
    color: black;
    border-radius: 10px;
    border: none;
    width: 160px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.div-btn-editar {
    display: flex;
    align-items: center;
}

.catItem input {
    border: none;
    border-bottom: 1px solid #838488;
    background-color: transparent;
    outline: none;
}

.catItem input:nth-child(1) {
    width: 90%;
}

.catItem input:nth-child(2) {
    width: 80%;
}

.pesquisa{
    margin: 20px auto;
    display: flex;
    width: 100%;
    justify-content: center;

}

.pesquisa input{
    background: #E5EAF5;
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 90%;
    font-size: 25px;
}

#session_pesquisa {
    margin-bottom: 30px;
}

.inner-wrapper {
    width: 100%;
    display: flex;
}


.btn-save, .edit-wrapper {
    display: none;
}


